
body {
    background-image: url("https://64.media.tumblr.com/9f572c21040a80e8da3d6b948fc6d4f3/tumblr_inline_pk0okpxeB01t7ascj_500.png");
}
h1, h2 {
    color:darkblue
}
p {
    color:black;
    font-family:serif;
    font-size:100%
}
table, td, th  {
    border: 1px solid black
}
table {
    width:50%;
    border-collapse:collapse;
}

