
body {
    background-color:beige;
}
h1, h2 {
    color:darkgreen
}
p {
    color:black;
    font-family:serif;
    font-size:100%
}
table, td, th  {
    border: 1px solid black
}
table {
    width:50%;
    border-collapse:collapse;
}
